.linkToForm {
    color: red;
    font-weight: bolder;
}

section#tellUrWorries {
    color: white;
    padding: 0 100px;
    margin-top: 20px;
}

.worryForm {
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    background-image: url("static/images/doll.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em auto;
}

.worryForm label {
    font-weight: bolder;
}

label mark {
    background-color: darkgreen;
    padding: 0.75em;
    border-radius: 1em;
    color: white;
    margin: 1rem;
    display: block;
}

.worryForm textarea {
    font-style: italic;
    border: 3px solid darkgreen;
    color: darkgreen;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.button {
    text-align: center;
}

button {
    background-color: darkgreen;
    border: 1px solid white;
}


@media(max-width: 500px) {
  section#tellUrWorries {
      padding: 0 24px;
      margin-top: 20px;
    }
}
